body{
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: auto;
    background-size:cover;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h1{
    font-size: 100px;
    color: orange;

}
p{
    font-size: 30px;
    color:red;

}
.image{
        width: 300px;
        height: 250px;
}
.contact{
    border: 12px solid red;
    width: 25%;
    text-align: left;
    transition: width 1s;
}
div:hover{
    width: 800px;
}
