
body{
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: auto;
    background-size:cover;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-size: 100px;
    color: maroon;

}
p{
    font-size: 30px;
    color:maroon;

}
h2{
    font-size: 60px;
    color: maroon;

}
li{
    font-size: 40px;

}
div{
    width: 800px;
    border: 15px solid maroon;
    padding: 50px;
    margin: 20px;
}