body{
    background-color: orange;
    background-repeat: no-repeat;
    background-position: right;
    height: auto;
    background-size:cover;
}
h1{
    font-size: 90px;
    color: blue;
}
p{
    font-size: 30px;
    color:blue;
}
h2{
    font-size: 60px;
    color: blue;
}
li{
    font-size: 40px;
}
#img1{
    width: 300px;
    height: 100px;
}
#img2{
    width: 150px;
    height: 100px;
}
#img3{
    width: 245px;
    height: 100px;
}