
#image{
    width: 315px;
    height: 375px;
    object-position: top;
}
#image2{
    width: 300px;
    height: 250px;
    object-position: right;
}

body{
    background-image: "https://www.heroscreen.cc/2024/03/dragon-ball-goku-and-vegeta.html";
}