
body{
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: auto;
    background-size:cover;
}
h1{
    font-size: 100px;
    color: orange;
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-size: 30px;
    color:red;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-size: 60px;
    color: orange;
    font-family: 'Times New Roman', Times, serif;
}
li{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
